body{
    color: #fff;
    padding-bottom: 240px;
    background: #171717;
    font-family: 'Gilam';
    font-style: normal;
}

a {
    text-decoration: none;
    color: unset;
}

.first_page{
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed;
}

.first_page_content{
    padding: 46px 230px 0;

}

.header{
    display: flex;
    align-items: center;
}


.phone{
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    margin-left: 824px;

}

.color_phone{
   color:#D6AF76;

}

.return_call{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E4B564;
    color: #E4B564;
    width: 218px;
    height: 50px;
}

.heating_network{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.heating_network_title{
    font-size: 50px;
    margin: 128px 0 40px;

}

.heating_network_text{
    margin-bottom: 40px;
}

.heating_network_container{
    display: grid  ;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 30px 28px;
}

.heating_network_item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 468px;

    text-align: center;
}

.small_item1{
    background: #634F2C;
}
.big_item1{
    grid-column: span 2;
    background: #B4A385;
}

.small_item2{
    background: #E4B564;
}

.big_item2{
    grid-column: span 2;
    background: #635A4A;
}

.big_item3{
    grid-column: span 2;
    background: #B08C4D;
}

/****second page***/

.second_page_content{
    padding: 0 230px;
}

.construction_machinery_title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin: 160px 0 94px;
}

.construction_machinery_container{
    display: grid;
    grid-template-columns: repeat( 3,1fr);
    text-align: left;
    column-gap: 30px;
}

.construction_machinery_block_left{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.construction_machinery_left_up{
    background: #0E0E0E;
    height: 313px;
}

.construction_machinery_left_down{
    background: #1F1F1F;
    height: 560px;
}

.construction_machinery_block_center{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.construction_machinery_center_up{
    height: 439px;
    background: #242424;
}

.construction_machinery__center_down{
    height: 405px;
    background: #E4B564;
}

.item_subtitle{
    font-weight: 700;
}

.construction_machinery_block_right{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.construction_machinery_right_up{
    background: #1F1F1F;
    height: 255px;
}

.construction_machinery_right_center{
    background: #0E0E0E;
    height: 313px;
}

.construction_machinery_right_down{
    background: #0A0909;
    height: 277px;
}

.text{
    padding: 44px 0 0 52px;
}

/****third page***/

.third_page{
    background: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;
}

.third_page_content{
    padding: 172px 230px 0;

}

.our_projects_text{
    display: flex;
    margin-bottom:72px;
    justify-content: space-between;
}

.our_projects_title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.our_project_button{
    color:  #E4B564;
    border: 1px solid #E4B564;
    background: none;
    width: 180px;
    height: 50px;
}

.our_projects_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    height: 782px;
    width: 1460px;
}

.our_projects_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.colored1{
    background: #634F2C;
}

.colored2{

    font-size: 22px;
    line-height: 28px;
    text-align: center;
    background: rgba(232, 210, 171, 0.76);
}

.colored2_text_up{
    width: 326px;
    font-weight: 600;
}

.colored2_text_down{
    width: 326px;
    font-weight: 400;
}

.colored3{
    background:  #E4B564;
}

.colored4{
    background: #635A4A;
}

.colored5{
    background: #B08C4D;
}

.colored6{
    background: #634F2C;
}